/* UserLogin.css */

.auth-form-container {
    max-width: 400px; /* Đặt kích thước tối đa của form */
    margin: 0 auto; /* Canh giữa form */
  }
  
  /* Điều chỉnh kích thước chữ cho các trường input */
  input[type="text"],
  input[type="password"],
  select,
  textarea {
    font-size: 16px; /* Kích thước chữ mong muốn */
  }
  
  /* Điều chỉnh kích thước chữ cho tiêu đề của các trường */
  legend {
    font-size: 18px; /* Kích thước chữ mong muốn */
  }
  
  /* Thêm một số căn chỉnh và margin theo nhu cầu */
  